<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="container about">


<h1>Honor Code</h1>
<p>By registering in our online course(s), you agree to:</p>
<ul>
	<li>rely solely on your own work in connection with all assessments, problems, homework and assignments (unless collaboration is expressly permitted)</li>
	<li>acknowledge any and all external sources used in your work</li>
	<li>refrain from any activity that would dishonestly or fraudulently improve your results or disadvantage others in the course</li>
	<li>refrain from disclosing answers to assessments, problems, assignments and homework to others</li>
	<li>maintain only one user account and not let anyone else use your username and/or password; and not access or attempt to access any other user's account, or misrepresent or attempt to misrepresent your identity while using the Sites. </li>
</ul>

<p>This Honor Code is not intended to prohibit discussion of course material. While users must submit work that is their own, you should feel free to discuss lectures or other course material with others either in-person or online.</p>
<p>Please note that we review and may make changes to this Honor Code from time to time.  Any changes to this Honor Code will be effective immediately upon posting on this page, with an updated effective date.  By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Honor Code and any changes contained therein.  Be sure to return to this page periodically to ensure familiarity with the most current version of this Honor Code.</p>


</section>