<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="container about">

<h1>Privacy Policy</h1>

<ul>
<li>ZIfET is committed to protecting your personal information and respecting your privacy. In general you can visit our website without telling us who you are or revealing information about yourself.</li>
<li>Some websites covered by this policy may request personal information from you in order to complete a form or transaction. Your information may be shared with third parties, such as event registration systems, to complete your transaction. ZIfET will not sell any personal information to third parties for purposes of marketing, advertising, or promotion.</li>
<li>While no system can provide guaranteed security, we take reasonable efforts to keep information you provide to us secure, including encryption technology, and physical security at the location of the server where information is stored.</li>
<li>ZIfET includes hyperlinks to sites maintained or controlled by others and is not responsible for and does not routinely screen, approve, review, or endorse the contents of or use of any of the products or services that may be offered at this or any other website. We advise you to review the individual privacy policies of the respective sites.</li>
</ul>


</section>