<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Copyright")}</%block>

<section class="container about">

<h1>Copyright</h1>
<ul>
	<li>In consideration for your agreement to the terms and conditions contained here, ZIfET grants you a personal, non-exclusive, non-transferable license to access and use Openeurship Platform. User may download material from the Sites only for User's own personal, non-commercial use. User may not otherwise copy, reproduce, retransmit, distribute, publish, commercially exploit or otherwise transfer any material. The burden of determining that use of any information, software or any other content on the Site is permissible rests with the User(s).</li>
	<li>The logo, name and all graphics on the Sites of ZIfET and Openeurship are trademarks of ZIfET or its affiliates. Use, reproduction, copying or redistribution of trademarks, without our written permission or our affiliates is prohibited. All other trademarks or servicemarks appearing on the Site are the marks of their respective owners.</li>
	<li>You agree to indemnify and hold Openeurship  and its instructors, trustees, officers, agents, employees, and assignees, harmless from any claims, actions, demands, losses or damages, including legal fees, arising out of, resulting from or in any way related to your participation in an online course, use of a Site, placement of any content onto a Site or violation of these Terms. You further agree to fully cooperate in ZIfET’s defense against any such claims.</li>
	<li>We respect the intellectual property rights of others. If you believe your copyright has been violated on our site, please give notice as stated under : openeurship@uni-koblenz.de</li>
</ul>

</section>