## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a></li>
          <li><a href="${reverse('honor')}">Honor Code</a></li>
          <li><a href="${reverse('copyright')}">Copyright</a></li>
          <li><a href="${reverse('contact')}">Contact</a></li>
          <li><a href="${reverse('help')}">Help</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>
